<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kotlin_social_media_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyHiltApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin_social_media_app"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">
        <activity
            android:name=".view.bottomNav.add_post.AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".view.bottomNav.edit_profile_user.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.bottomNav.user_details_explore.UserDetailsExploreActivity"
            android:exported="false" />
        <activity
            android:name=".view.bottomNav.following.FollowingActivity"
            android:exported="false" />
        <activity
            android:name=".view.bottomNav.comment.CommentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.bottomNav.user_post_details.UserPostActivity"
            android:exported="false" />
        <activity
            android:name=".view.bottomNav.product_details.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.bottomNav.post_details.PostDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.bottomNav.user_details.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".view.bottomNav.BottomNavActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.splash_screen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_ziJgUOoe3bpNSM" />
        <meta-data
            android:name="com.google.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>